body {
  font-family: Poppins, sans-serif;
  font-size: 17px;
  flex-wrap: wrap;
  line-height: 1.4;
  height: 100%;
  background-image:
    linear-gradient(
    rgba(41 47 108 /50%),
    #0000005d
  ),
    url("../surveyform_project/jason-goodman-vbxyfxlgpjM-unsplash.jpg");

  /* background-image: url("../surveyform_project/jason-goodman-vbxyfxlgpjM-unsplash.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main {
  max-height: 100%;
}

h1,
p {
  text-align: center;
  color: white;
}

h1 {
  margin-top: 25px;
  margin-bottom: 5px;
}

p {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 20px;
  font-style: italic;
}

.established {
  font-style: italic;
}

form {
  background-color: rgb(46 46 85);
  color: rgb(253 248 248);
  box-shadow: 0 0 10px rgb(37 38 39);
  width: 65%;
  max-width: 80%;
  min-width: 20%;
  margin: auto;
  padding: 30px;
  font-weight: 400;
  font-size: 12px;
  height: 100%;
  flex-wrap: wrap;
  padding-top: 50px;
}

label {
  display: block;
  font-size: 20px;
}

fieldset {
  border: rgb(143 94 20);
  padding-bottom: 4%;
  flex-basis: 50%;
}

input,
select,
textarea {
  width: 100%;
  margin: 0.1em 0 1em;
  min-height: 2em;
  font-size: 75%;
}

input,
select {
  border-radius: 5px;
}

button {
  background-color: green;
  writing-mode: horizontal-tb !important;
  word-spacing: normal;
  text-align: center;
  text-transform: none;
  width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select:focus {
  outline: none !important;
  box-shadow: 0 0 10px rgb(5 204 234);
}

.inline {
  width: unset;
  margin: 0 8px 0 0;
  min-height: unset;
  vertical-align: middle;
}
